#searchFieldGroup {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease, margin-top 0.4s ease;
}

#searchFieldGroup.show {
    max-height: 100px;
    opacity: 1;
    margin-top: 1rem;
}
