.container{
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.438);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    width: 75vw;
    height: auto;
    padding: 3vw;
}
.cart{
    border: 2px solid black;
    border-radius: 1rem;
    padding: 2vw;
    margin: 2vw;
}